body {
    background-color: #08332d;
}

h1 {
    color: rgb(207, 136, 28);
}

#result p {
    font-size: 18px;
    margin-top: 10px;
    color: #635a5a;
}

.btn-primary {
    background-color: rgb(153, 101, 21);
    border-color: rgb(153, 101, 21);
}

.btn-primary:hover {
    background-color: rgb(150, 96, 15);
    border-color: rgb(129, 85, 18);
}
